* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr 100px;
  grid-template-areas: "header header header" "main main aside" "main main aside" "main main aside" "footer footer footer";
}

.container-productos {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "header" "main" "footer";
}

.container-galeria {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 100px;
  grid-template-areas: "header header header" "main main main" "main main main" "main main main" "main main main" "main main main" "footer footer footer";
}

.container-fotos {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "foto1 none none" "none foto2 none" "foto3 none none" "none foto4 none";
}

.container-form {
  margin-top: 50px;
  margin-left: 350px;
  max-width: 50%;
}

.boton {
  display: flex;
  align-content: center;
  justify-content: center;
}

header {
  background: linear-gradient(to left, aqua, rgb(140, 223, 223), rgba(196, 224, 224, 0.705));
  grid-area: header;
  display: inline-flex;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}
.logo a img {
  max-width: 75px;
  max-height: 75px;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 50%;
}

.navBar {
  display: flex;
  align-content: center;
  margin-top: 45px;
  margin-left: 380px;
}
.navBar li {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.navBar li a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 30px;
}

main {
  grid-area: main;
}

h1 {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 50px;
}

.articuloPrimero, .articuloSegundo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 80px;
  width: 75%;
  margin-left: 90px;
}
.articuloPrimero img, .articuloSegundo img {
  max-width: 300px;
  max-height: 300px;
  margin-top: 30px;
}

.articuloSegundo img {
  max-width: 300px;
  max-height: 300px;
  margin-top: 30px;
}

h2 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 20px;
}

aside {
  border-style: dotted;
  border-width: 5px;
  border-color: black yellowgreen blueviolet turquoise;
  grid-area: aside;
  max-width: 400px;
  max-height: 500px;
  margin-top: 150px;
  margin-left: 5px;
  margin-right: 20px;
}

.recetas {
  text-align: center;
  border: 1px;
  margin-top: 20px;
  font-size: 20px;
}
.recetas img {
  max-width: 300px;
  max-height: 300px;
  margin-top: 35px;
}

.redes li {
  list-style: none;
}
.redes li a {
  display: flex;
}

footer {
  background: linear-gradient(to left, aqua, rgb(140, 223, 223), rgba(196, 224, 224, 0.705));
  grid-area: footer;
}
footer ul {
  display: flex;
  align-items: center;
  margin-left: 450px;
}
footer ul li {
  margin: 20px;
  list-style: none;
}

.tortas, .catering {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 75%;
  margin-left: 150px;
}
.tortas h2, .catering h2 {
  margin-bottom: 25px;
}
.tortas img, .catering img {
  max-width: 400px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 250px;
}

.catering {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 75%;
}
.catering h2 {
  margin-bottom: 25px;
}
.catering img {
  max-width: 400px;
  max-height: 400px;
  display: flex;
  margin-left: 250px;
  margin-top: 30px;
}

.somos p {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: 150px;
  max-width: 75%;
  display: flex;
  text-align: center;
}

.container-fotos .foto {
  max-width: 300px;
  max-height: 300px;
  margin-top: none;
  box-shadow: 2px 2px 5px dimgrey;
}

.foto-1 {
  transition: transform 900ms;
  grid-column-start: 1;
  margin-left: 150px;
  margin-top: 50px;
}
.foto-1:hover {
  transform: scale(1.2);
}

.foto-2 {
  transition: transform 900ms;
  grid-column-start: 3;
  grid-row-start: 2;
}
.foto-2:hover {
  transform: scale(1.2);
}

.foto-3 {
  transition: transform 900ms;
  grid-column-start: 1;
  grid-row-start: 3;
  margin-left: 150px;
}
.foto-3:hover {
  transform: scale(1.2);
}

.foto-4 {
  transition: transform 900ms;
  grid-column-start: 3;
  grid-row-start: 4;
  margin-bottom: 50px;
}
.foto-4:hover {
  transform: scale(1.2);
}

@media (max-width: 992px) {
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 100px;
    grid-template-areas: "header header header" "main main aside" "main main aside" "main main aside" "footer footer footer";
  }
  .container-productos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header" "main" "footer";
  }
  .container-galeria {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 100px;
    grid-template-areas: "header header header" "main main main" "main main main" "main main main" "main main main" "main main main" "footer footer footer";
  }
  .container-fotos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "foto1 none" "none foto2" "foto3 none" "none foto4";
  }
  header {
    background: linear-gradient(to left, aqua, rgb(140, 223, 223), rgba(196, 224, 224, 0.705));
    grid-area: header;
    display: inline-flex;
  }
  .logo {
    max-width: 100px;
    max-height: 100px;
  }
  .logo a img {
    max-width: 75px;
    max-height: 75px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50%;
  }
  .navBar {
    display: flex;
    align-content: center;
    margin-top: 45px;
    margin-left: 380px;
  }
  .navBar li {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navBar li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 30px;
  }
  main {
    grid-area: main;
  }
  h1 {
    font-size: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 50px;
  }
  .articuloPrimero, .articuloSegundo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    width: 75%;
    margin-left: 90px;
  }
  .articuloPrimero img, .articuloSegundo img {
    max-width: 300px;
    max-height: 300px;
    margin-top: 30px;
  }
  .articuloSegundo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    width: 75%;
    margin-left: 90px;
  }
  .articuloSegundo img {
    max-width: 300px;
    max-height: 300px;
    margin-top: 30px;
  }
  h2 {
    font-size: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 20px;
  }
  aside {
    border-style: dotted;
    border-width: 5px;
    border-color: black yellowgreen blueviolet turquoise;
    grid-area: aside;
    max-width: 400px;
    max-height: 550px;
    margin-top: 150px;
    margin-left: 3px;
  }
  .recetas {
    text-align: center;
    border: 1px;
    margin-top: 20px;
    font-size: 20px;
  }
  .recetas img {
    max-width: 250px;
    max-height: 250px;
    margin-top: 35px;
  }
  .redes li {
    list-style: none;
  }
  .redes li a {
    display: flex;
  }
  footer {
    background: linear-gradient(to left, aqua, rgb(140, 223, 223), rgba(196, 224, 224, 0.705));
    grid-area: footer;
  }
  footer ul {
    display: flex;
    align-items: center;
    margin-left: 370px;
  }
  footer ul li {
    margin: 20px;
    list-style: none;
  }
  .foto {
    max-width: 150px;
    max-height: 150px;
    margin-top: none;
    box-shadow: 2px 2px 5px dimgrey;
  }
  .foto-1 {
    transition: transform 900ms;
    grid-column-start: 1;
    margin-top: 50px;
  }
  .foto-1:hover {
    transform: scale(1.2);
  }
  .foto-2 {
    transition: transform 900ms;
    grid-column-start: 2;
    margin-left: 200px;
    grid-row-start: 2;
  }
  .foto-2:hover {
    transform: scale(1.2);
  }
  .foto-3 {
    transition: transform 900ms;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .foto-3:hover {
    transform: scale(1.2);
  }
  .foto-4 {
    transition: transform 900ms;
    grid-column-start: 2;
    margin-left: 200px;
    grid-row-start: 4;
    margin-bottom: 250px;
  }
  .foto-4:hover {
    transform: scale(1.2);
  }
  .tortas, .catering {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 75%;
    margin-left: 120px;
  }
  .tortas h2, .catering h2 {
    margin-bottom: 25px;
  }
  .tortas img, .catering img {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 180px;
  }
  .catering {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 75%;
  }
  .catering h2 {
    margin-bottom: 25px;
  }
  .catering img {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    margin-left: 180px;
    margin-top: 30px;
  }
  .somos p {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 120px;
    max-width: 75%;
    display: flex;
    text-align: center;
  }
  .container-form {
    margin-top: 50px;
    margin-left: 250px;
    max-width: 50%;
  }
  .boton {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 80px;
    grid-template-areas: "header header " "main aside" "main aside" "footer footer";
  }
  .container-productos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas: "header" "main" "footer";
  }
  .container-galeria {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 80px;
    grid-template-areas: "header header" "main main" "main main" "main main" "main main" "main main" "footer footer";
  }
  .container-fotos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "foto1 none" "none foto2" "foto3 none" "none foto4";
  }
  header {
    background: linear-gradient(to left, aqua, rgb(140, 223, 223), rgba(196, 224, 224, 0.705));
    grid-area: header;
    display: inline-flex;
  }
  .logo {
    max-width: 100px;
    max-height: 100px;
  }
  .logo a img {
    max-width: 65px;
    max-height: 65px;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 50%;
  }
  .navBar {
    display: flex;
    align-content: center;
    margin-top: 30px;
    margin-left: 170px;
  }
  .navBar li {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navBar li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 30px;
  }
  main {
    grid-area: main;
  }
  h1 {
    font-size: 45px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 50px;
  }
  .articuloPrimero, .articuloSegundo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    width: 75%;
    margin-left: 40px;
  }
  .articuloPrimero img, .articuloSegundo img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 30px;
  }
  .articuloSegundo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    width: 75%;
    margin-left: 40px;
  }
  .articuloSegundo img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 30px;
  }
  h2 {
    font-size: 35px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 40px;
  }
  aside {
    border-style: dotted;
    border-width: 5px;
    border-color: black yellowgreen blueviolet turquoise;
    grid-area: aside;
    max-width: 400px;
    max-height: 450px;
    margin-top: 150px;
    margin-left: 3px;
  }
  .recetas {
    text-align: center;
    border: 1px;
    margin-top: 40px;
    font-size: 17px;
  }
  .recetas img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 35px;
  }
  .redes li {
    list-style: none;
  }
  .redes li a {
    display: flex;
  }
  footer {
    background: linear-gradient(to left, aqua, rgb(140, 223, 223), rgba(196, 224, 224, 0.705));
    grid-area: footer;
  }
  footer ul {
    display: flex;
    align-items: center;
    margin-left: 260px;
  }
  footer ul li {
    margin: 20px;
    list-style: none;
  }
  .redes li a img {
    max-width: 40px;
  }
  .container-fotos .foto {
    max-width: 150px;
    max-height: 150px;
    margin-top: none;
    box-shadow: 2px 2px 5px dimgrey;
  }
  .container-fotos .foto img {
    max-width: 150px;
    max-height: 150px;
  }
  .foto-1 {
    transition: transform 900ms;
    grid-column-start: 1;
    margin-top: 50px;
    margin-left: 150px;
  }
  .foto-1:hover {
    transform: scale(1.2);
  }
  .foto-2 {
    transition: transform 900ms;
    grid-column-start: 2;
    margin-left: 50px;
    grid-row-start: 2;
  }
  .foto-2:hover {
    transform: scale(1.2);
  }
  .foto-3 {
    transition: transform 900ms;
    grid-column-start: 1;
    grid-row-start: 3;
    margin-left: 150px;
  }
  .foto-3:hover {
    transform: scale(1.2);
  }
  .foto-4 {
    transition: transform 900ms;
    grid-column-start: 2;
    margin-left: 50px;
    grid-row-start: 4;
    margin-bottom: 50px;
  }
  .foto-4:hover {
    transform: scale(1.2);
  }
  .tortas, .catering {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 75%;
    margin-left: 90px;
  }
  .tortas h2, .catering h2 {
    margin-bottom: 25px;
  }
  .tortas img, .catering img {
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 180px;
  }
  .catering {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 75%;
  }
  .catering h2 {
    margin-bottom: 25px;
  }
  .catering img {
    max-width: 200px;
    max-height: 200px;
    display: flex;
    margin-left: 180px;
    margin-top: 30px;
  }
  .somos p {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 440px;
    margin-left: 90px;
    max-width: 75%;
    max-height: 100vh;
    display: flex;
    text-align: center;
  }
  .container-form {
    margin-top: 80px;
    margin-left: 190px;
    max-width: 50%;
  }
  .boton {
    display: flex;
    margin-top: 50px;
    margin-bottom: 155px;
    align-content: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr 60px;
    grid-template-areas: "header" "main" "aside" "footer";
  }
  .container-productos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: "header" "main" "footer";
  }
  .container-galeria {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60px 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: "header" "main" "main" "main" "main" "main" "footer";
  }
  .container-fotos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "foto1" "foto2" "foto3" "foto4";
  }
  header {
    background: linear-gradient(to left, aqua, rgb(140, 223, 223), rgba(196, 224, 224, 0.705));
    grid-area: header;
    display: inline-flex;
  }
  .logo {
    max-width: 60px;
    max-height: 60px;
  }
  .logo a img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 50%;
  }
  .navBar {
    display: flex;
    align-content: center;
    margin-top: 20px;
    margin-left: 80px;
  }
  .navBar li {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navBar li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 30px;
  }
  main {
    grid-area: main;
  }
  h1 {
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 50px;
  }
  .articuloPrimero, .articuloSegundo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    width: 75%;
    margin-left: 70px;
  }
  .articuloPrimero img, .articuloSegundo img {
    max-width: 120px;
    max-height: 120px;
    margin-top: 30px;
  }
  .articuloSegundo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 75%;
    margin-left: 70px;
  }
  .articuloSegundo img {
    max-width: 120px;
    max-height: 120px;
    margin-top: 30px;
  }
  h2 {
    font-size: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 20px;
  }
  aside {
    border-style: dotted;
    border-width: 5px;
    border-color: black yellowgreen blueviolet turquoise;
    grid-area: aside;
    max-width: 300px;
    max-height: 350px;
    margin-top: 90px;
    margin-left: 140px;
  }
  .recetas {
    text-align: center;
    border: 1px;
    margin-top: 20px;
    font-size: 17px;
  }
  .recetas img {
    max-width: 120px;
    max-height: 120px;
    margin-top: 35px;
  }
  .redes li {
    list-style: none;
  }
  .redes li a {
    display: flex;
  }
  footer {
    background: linear-gradient(to left, aqua, rgb(140, 223, 223), rgba(196, 224, 224, 0.705));
    grid-area: footer;
    margin-bottom: 0px;
  }
  footer ul {
    display: flex;
    align-items: center;
    margin-left: 175px;
  }
  footer ul li {
    margin: 20px;
    list-style: none;
  }
  .redes li a img {
    max-width: 28px;
  }
  .foto {
    max-width: 120px;
    max-height: 120px;
    margin-top: none;
    box-shadow: 2px 2px 5px dimgrey;
  }
  .foto-1 {
    transition: transform 900ms;
    grid-column-start: 1;
    margin-left: 200px;
    margin-bottom: 100px;
  }
  .foto-1:hover {
    transform: scale(1.2);
  }
  .foto-2 {
    transition: transform 900ms;
    grid-column-start: 1;
    margin-left: 200px;
    grid-row-start: 2;
  }
  .foto-2:hover {
    transform: scale(1.2);
  }
  .foto-3 {
    transition: transform 900ms;
    grid-column-start: 1;
    grid-row-start: 3;
    margin-left: 200px;
    margin-top: 0px;
  }
  .foto-3:hover {
    transform: scale(1.2);
  }
  .foto-4 {
    transition: transform 900ms;
    grid-column-start: 1;
    margin-left: 200px;
    grid-row-start: 4;
    margin-bottom: 50px;
  }
  .foto-4:hover {
    transform: scale(1.2);
  }
  .tortas, .catering {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 75%;
    margin-left: 65px;
  }
  .tortas h2, .catering h2 {
    margin-bottom: 25px;
  }
  .tortas img, .catering img {
    max-width: 120px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 160px;
  }
  .catering {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 75%;
  }
  .catering h2 {
    margin-bottom: 25px;
  }
  .catering img {
    max-width: 120px;
    max-height: 120px;
    display: flex;
    margin-left: 160px;
    margin-top: 30px;
  }
  .somos p {
    font-size: 13px;
    margin-top: 40px;
    margin-bottom: 440px;
    margin-left: 70px;
    max-width: 75%;
    display: flex;
    text-align: center;
  }
  .container-form {
    margin-top: 80px;
    margin-left: 140px;
    max-width: 50%;
  }
  .boton {
    display: flex;
    margin-top: 50px;
    margin-bottom: 155px;
    align-content: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
