.redes li{
    list-style: none;

    & a{
        display: flex;
    }
}

footer{
    background: $background-header;
    grid-area: footer;

    & ul{
        display: flex;
        align-items: center;
        margin-left: 450px;
    
        & li{
            margin: 20px;
            list-style: none;
        }
    }
}



