.container-galeria{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 100px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer"
    ;
}

.container-fotos{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "foto1 none none"
    "none foto2 none"
    "foto3 none none"
    "none foto4 none"
    ;
}